*{
    box-sizing: border-box;
}

.Container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 800px;
    height: 450px;
    border-radius: 10px;
    display: flex;
}

.login-image{
    align-items: center;
    margin: 100px 50px;
}

.login{
    width: 320px;
    height: 100%;
    padding: 50px 30px 80px 30px;
    float: right;
    align-items: center;
    align-content: center;
}
.login h1 {
    text-align: center;
    margin-bottom: 35px;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid none;
    margin: 8px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 10px;
    height: 32px;
    font-size: 14px;
    border: 0;
    outline: none;
    border-radius: 3px;
    background-color: #ecebeb;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    transition: .5s;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -14px;
    color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}

.forgetPass {
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 14px;
}

button{
    width: 100%;
    height: 35px;
    border: none;
    background-color: #2691d9;
    color: white;
    cursor: pointer;
    border-radius: 25px;
}

.signup_link{
    margin-top: 10px;
    font-size: 14px;
}